.container {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, $person-width);
    gap: $horiz-gap $vert-gap;
    max-width: ($person-width * 2) + $horiz-gap;
    margin: 0 auto;

    @media (min-width: 1000px) {
        grid-template-columns: repeat(4, $person-width);
        max-width: ($person-width * 4) + ($horiz-gap *3);
    }
}