.container {
    box-sizing: border-box;
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, $person-image-size);
    gap: $vert-gap $horiz-gap;
    width: ($person-image-size * 2) + ($person-padd * 4) + $horiz-gap;
    margin: 0 auto;

    @media (min-width: 1000px) {
        grid-template-columns: repeat(4, $person-image-size);
        width: ($person-image-size * 4) +($person-padd * 8) + ($horiz-gap *3);
    }
}