.person {
    flex-direction: column;
    align-items: center;
    display: flex;    
    padding: $person-padd $person-padd
    16px;
    .photo {
        width: $person-image-size;
        height: 0;
        position: relative;
        padding-bottom: 100%;
        overflow: hidden;
        border-radius: 50%;
    
        img {
            position: absolute;
            max-height: 100%;
            max-width: 100%;
            object-fit: cover;
            margin-bottom: 8;
        }
    }

    .rank {
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba(139, 0, 0, 1);
        position: absolute;
        top: calc(50% - 16px);
        right: 10px;
        background-color: #fff;
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }

    .details {
        .name {
            font-size: 20px;
            line-height: 23px;
            color: $main-text-color;
            font-weight: 700;
            margin-bottom: 9px;
        }

        .extra {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            line-height: 21px;
            color: $second-text-color;
        }
    }

    &:hover {
        background-color: $person-bg;
        transform: scale(1.1);
        z-index: 5;
    }
}